.custom-btn {
    background-color: #07ff03;
    color: black;
    border: none;
    font-weight: 600;
  }
  
  .custom-btn:hover {
    background-color: #05db02;
    color: black;
  }
  
  .product-title {
    color: black;
  }
  