.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    animation: fadeOut 1s ease-out 1.5s forwards;
  }
  
  .splash-logo {
    width: 500px;
    max-height: 500px;
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  